/* CSS VALIDATED */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,400italic);
body {
  min-width: 800px;
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  font-size: 20px;
  color:#666;
}
li {
  list-style-type: none;
  padding: 0px 20px 0px 20px;
}
p {
  font-size: 24px;
}
img {
  width: 640px;
}
.container {
  margin: auto;
  overflow: auto;
  background: #fff;
  box-shadow: 0px 5px 15px #888;
}
.page-top {

  margin-bottom: 30px;
  text-align: center;

}

#logo {
  width: 50px;
  height: auto;
  display: inline-block;
  margin-bottom: 25.5px;
}
#logotext {
  display: inline-block;
  font-size: 50px;
}

.searchField {
  padding: 0px 200px 0px 200px;
}
#vidResults {
  display: none;
  padding: 0px;
}
#picResults {
  display: none;
  padding: 0px;
}

.videosTab, .picturesTab {
  margin-top: 30px;
  margin-bottom: 30px;
  display: none;
}

.videosClick, .picturesClick {
  background-color: #239654;
  color: #32D979;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s ease-out, color .2s ease-out;


}

.videosClick:hover, .picturesClick:hover {
  background-color: #27ae60;
  color: #45E689;
}

.active {
  background: #2ecc71;
  box-shadow: 0px 3px 10px #888;
  color: #239654;
}
.videoBox {
  width: 640px;
  height: 360px;
  text-align: center;
}

.iframebox {
  text-align: center;
}

.backgroundText {
  text-align: center;
  margin-top: 50px;
  color: #B0B0B0;
}
